// Anything reusable such as buttons, navbars, cards, etc.

.box-style {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  -webkit-box-shadow: 7px 7px 50px #0000001a;
  box-shadow: 7px 7px 50px #0000001a;
  padding: 30px;
}

.small-component {
  height: 280px;
  margin-top: 40px;
  min-width: 245px;
  position: relative;
  width: 330px;

  @include desktop-xl {
    width: 330px;
  }

  @include desktop-lg {
    width: 300px;
  }

  @include desktop {
    width: 610px;
  }

  @include tablet-lg {
    width: 300px;
  }

  @include tablet {
    width: 500px;
  }

  @include mobile {
    width: 300px;
  }
}

.double-component {
  height: 400px;
  margin-top: 40px;
  max-width: 690px;
  min-width: 245px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include desktop-lg {
    max-width: 630px;
  }

  @include tablet {
    max-width: 500px;
  }

  @include mobile {
    width: 300px;
  }
}

.large-component {
  height: 500px;
  margin-top: 40px;
  min-width: 245px;
  overflow: hidden;
  position: relative;
  width: 660px;

  @include desktop-xl {
    width: 660px;
  }

  @include desktop-lg {
    width: 600px;
  }

  @include desktop {
    width: 480px;
  }

  @include tablet {
    width: 360px;
  }

  @include mobile {
    width: 300px;
  }
}

.component-header {
  color: $dark-grey;
  font-size: 20px;
  font-weight: bold;

  &.medium {
    font-size: 18px;
  }
}

.component-icon {
  position: absolute;
  right: 30px;
  top: 25px;
}

.component-button {
  bottom: 30px;
  position: absolute;
  right: 30px;
}

.underline {
  background-color: $underline;
  height: 3px;
  width: 48px;
}

.back-button {
  background: transparent;
  text-align: left;
  width: 100%;

  button {
    background: inherit;
    color: $dark-grey;

    i {
      margin-top: 1px;
    }

    span {
      margin-right: 5px;
      vertical-align: super;
    }
  }
}

.component-image-bg {
  border-radius: 30px 30px 0 0;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

// Notif Component
.notif {
  font-family: inherit;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 20px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

// Modal
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog--center {
  margin: auto;
  top: 50%;
  transform: translateY(-50%) !important;
}

.modal-footer {
  border-top: 0;
}

.form-group {
  min-height: 70px;
}

// Loader
.loader-modal {
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.active-link {
  color: $primary !important;
}
