/* Layout and container styles */
@layer components {
  .box-style {
    @apply bg-white rounded-[30px] p-[30px];
    box-shadow: 7px 7px 50px #0000001a;
  }

  main {
    @apply min-h-[500px];
    padding-bottom: 330px !important;
  }

  .content-container {
    @apply mx-2 mb-12 pb-2 text-center;
  }

  @media (max-width: 767px) {
    .content-container {
      @apply pb-6;
    }
  }

  @media (max-width: 575px) {
    .content-container {
      @apply pb-2;
    }
  }

  .component-container {
    @apply flex flex-wrap mx-auto max-w-[720px] text-center;
  }

  @media (max-width: 1200px) {
    .component-container {
      @apply max-w-[660px] w-auto;
    }
  }

  @media (max-width: 991px) {
    .component-container {
      @apply mx-[200px];
    }
  }

  @media (max-width: 905px) {
    .component-container {
      @apply mx-auto;
    }
  }

  @media (max-width: 575px) {
    .component-container {
      @apply flex-col w-full;
    }
  }

  .page-box {
    @apply relative w-full mx-auto;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  @media screen and (min-width: 768px) {
    .page-box {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 767px) {
    .page-box {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
  }

  @media (max-width: 575px) {
    .page-box {
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
  }

  @media screen and (min-width: 1200px) {
    .page-box {
      flex: auto;
      max-width: 615px;
    }
  }

  .default-form {
    @apply max-w-[340px] w-[90%];
  }

  /* Component size variants */
  .small-component {
    @apply h-[280px] mt-10 min-w-[245px] relative w-[330px];
  }

  @media (max-width: 1600px) {
    .small-component {
      @apply w-[330px];
    }
  }

  @media (max-width: 1200px) {
    .small-component {
      @apply w-[300px];
    }
  }

  @media (max-width: 991px) {
    .small-component {
      @apply w-[610px];
    }
  }

  @media (max-width: 905px) {
    .small-component {
      @apply w-[300px];
    }
  }

  @media (max-width: 767px) {
    .small-component {
      @apply w-[500px];
    }
  }

  @media (max-width: 575px) {
    .small-component {
      @apply w-[300px];
    }
  }

  .double-component {
    @apply h-[400px] mt-10 max-w-[690px] min-w-[245px] overflow-hidden relative w-full;
  }

  @media (max-width: 1200px) {
    .double-component {
      @apply max-w-[630px];
    }
  }

  @media (max-width: 767px) {
    .double-component {
      @apply max-w-[500px];
    }
  }

  @media (max-width: 575px) {
    .double-component {
      @apply w-[300px];
    }
  }

  .large-component {
    @apply h-[500px] mt-10 min-w-[245px] overflow-hidden relative w-[660px];
  }

  @media (max-width: 1600px) {
    .large-component {
      @apply w-[660px];
    }
  }

  @media (max-width: 1200px) {
    .large-component {
      @apply w-[600px];
    }
  }

  @media (max-width: 991px) {
    .large-component {
      @apply w-[480px];
    }
  }

  @media (max-width: 767px) {
    .large-component {
      @apply w-[360px];
    }
  }

  @media (max-width: 575px) {
    .large-component {
      @apply w-[300px];
    }
  }

  .component-header {
    @apply text-grey-dark text-xl font-bold;
  }

  .component-header.medium {
    @apply text-lg;
  }

  .component-icon {
    @apply absolute right-[30px] top-[25px];
  }

  .component-button {
    @apply absolute bottom-[30px] right-[30px];
  }

  .component-image-bg {
    @apply rounded-t-[30px] left-0 max-w-full absolute top-0 w-full;
  }
}
