/* Miscellaneous utility components */
@layer components {
  .alert-error {
    @apply rounded-md bg-red-100 border border-red-300 text-red-700 p-2 mt-1 mb-0;
  }

  .logo {
    @apply h-[50px] mr-[10px];
  }

  .header {
    @apply text-grey-dark font-header text-4xl font-bold;
  }

  .subtitle {
    @apply text-grey-light font-subtitle text-base;
  }

  .no-bullet-style {
    list-style: none;
  }

  .no-bullet-style li::before {
    color: initial !important;
    content: none !important;
    display: initial;
    margin: initial !important;
    width: initial;
  }

  .underline {
    @apply bg-underline h-[3px] w-[48px];
  }

  .notif {
    @apply font-primary mx-auto py-2 px-5 text-center w-fit;
  }

  .loader-modal {
    @apply bg-white/80 absolute bottom-0 left-0 right-0 top-0 z-[1];
  }

  .active-link {
    color: var(--color-primary) !important;
  }

  .intercom {
    @apply fixed bottom-[10px] right-[10px] h-[60px] w-[60px] z-[2];
  }

  @media (max-width: 905px) {
    .intercom {
      @apply bottom-[100px];
    }
  }

  .intercom-launcher {
    @apply bg-primary rounded-[30px];
  }

  .intercom-launcher:focus {
    @apply outline-none;
  }

  .intercom-launcher i {
    @apply text-white;
  }
}
