# Dependencies
node_modules
pnpm-lock.yaml
.pnp.*

# Build
dist
dist-ssr
*.local

# Environment
.env.local
.env.*.local

# Testing
coverage
*.lcov
.nyc_output
playwright-report
test-results

# Editor
.vscode
.idea
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
