{
  "lines": 40,
  "statements": 40,
  "functions": 40,
  "branches": 40,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "tests",
    "src/**/*.test.js",
    "src/index.js",
    "src/serviceWorker.js",
    "src/utils/dev/react-devtools-hook.js"
  ],
  "reporter": [
    "text-summary",
    "json"
  ],
  "report-dir": "./coverage/end-to-end",
  "check-coverage": false
}