// Intercom

.intercom {
  bottom: 10px;
  height: 60px;
  position: fixed;
  right: 10px;
  width: 60px;
  z-index: 2;

  @include tablet-lg {
    bottom: 100px;
  }

  &-launcher {
    background: $primary;
    border-radius: 30px;

    &:focus {
      outline: none;
    }

    i {
      color: $white;
    }
  }
}
