.text-grey {
  color: $light-grey;
}

.text-light-grey {
  color: $light-grey;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-light-green {
  color: $light-green;
}

.text-orange {
  color: $orange;
}

.text-red {
  color: $red;
}
