// Variables

$white: #ffffff;
$black: #000000;

$grey: #888888;
$light-grey: #b7bbc2;
$dark-grey: #343333;

$orange: #f79869;
$dark-orange: #f36e5e;

$dark-red: #d85545;
$red: #ff0000;

$light-green: #90ee90;

$underline: #5f51fc;

$logo-font: "Comfortaa", cursive;
$header-font: "Poppins", cursive;
$subtitle-font: "Poppins", sans-serif;
$primary-font: "Lato", sans-serif;

$primary: #5f51fc;
