{
  "*.{ts,tsx}": [
    "mise run lint_files",
    "mise run format_files",
    "mise run spell_files"
  ],
  "*.json": [
    "mise run format_files"
  ],
  "*.{yml,yaml}": [
    "mise run format_files"
  ],
  "*.md": [
    "mise run spell_files"
  ],
  "*.{css,scss}": [
    "mise run stylelint_files",
    "mise run format_files"
  ]
}
