{
  "*.{ts,tsx}": [
    "eslint --config ./config/eslint.config.js --fix",
    "prettier --config ./config/.prettierrc --write"
  ],
  "*.{css,scss}": [
    "stylelint --config ./config/.stylelintrc.json --fix",
    "prettier --config ./config/.prettierrc --write"
  ]
}
