{
  "**/*.{ts,tsx}": [
    "mise run lint:files",
    "mise run format:files",
    "mise run spell:files"
  ],
  "**/*.js": ["mise run format:files", "mise run spell:files"],
  "**/*.json": ["mise run format:files"],
  "**/*.{yml,yaml}": ["mise run format:files"],
  "**/*.md": ["mise run spell:files"],
  "**/*.mdx": ["mise run format:files", "mise run spell:files"],
  "**/*.{css,scss}": ["mise run stylelint:files", "mise run format:files"]
}
