{
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "customFunctions": ["cn", "clsx", "cva"],
  "importOrder": [
    "<TYPES>",
    "<BUILTIN_MODULES>",
    "",
    "^react$",
    "^react-dom(/.*)?$",
    "^react-router(/.*)?$",
    "^react-hook-form$",
    "^react-i18next$",
    "",
    "<TYPES>^[^@/.]",
    "<THIRD_PARTY_MODULES>",
    "",
    "<TYPES>^@/",
    "^@/app(/.*)?$",
    "^@/pages(/.*)?$",
    "^@/widgets(/.*)?$",
    "^@/features(/.*)?$",
    "^@/entities(/.*)?$",
    "^@/shared/api(/.*)?$",
    "^@/shared/config(/.*)?$",
    "^@/shared/model(/.*)?$",
    "^@/shared/lib(/.*)?$",
    "^@/shared/i18n(/.*)?$",
    "^@/shared/ui(/.*)?$",
    "^@/shared/assets(/.*)?$",
    "",
    "<TYPES>^[.]",
    "^[.]"
  ],
  "importOrderTypeScriptVersion": "5.0.0"
}
