## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# production
static
media
build
dist

# Dotenv environment variables
env/

# nyc test coverage
.nyc_output

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Cypress
cypress/videos
cypress/screenshots

# Translations
*.mo
*.pot

# React
.DS_*
logs
**/*.backup.*
**/*.back.*

# Node logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Storybook build outputs
.out
.storybook-out
storybook-static

# Visual Studio Code
.vscode/

# Documentation
site/
docs/

# Design files
psd
thumb
sketch
.figma
.psd

# Others
tmp/
temp/
out/

CHANGELOG.md
