// Header

.navbar-brand {
  margin-left: 15px;
  top: 0;

  @include mobile-xs {
    margin-left: 5px;
  }
}

.header {
  height: 82px;
  z-index: 5;

  &__links {
    font-size: 12px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 30px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
  }

  &__link-item {
    padding: 8px;
  }
}
