// Bottom

.bottom-nav {
  background-color: $white;
  bottom: 0;
  -webkit-box-shadow: 0 -3px 6px #3876e44f;
  box-shadow: 0 -3px 6px #3876e44f;
  height: 90px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 3;

  &__link {
    margin-bottom: 10px;
    max-height: 48px;
    max-width: 60px;

    &-label {
      display: block;
      font-size: 12px;
    }
  }
}
