name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - alpha
      - beta
      - prerelease

env:
  HUSKY: 0

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: jdx/mise-action@v3
        with:
          experimental: true

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: mise run lint

      - name: Type check
        run: mise run typecheck

      - name: Build
        run: mise run build

      - name: Test
        run: mise run test

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_AUTHOR_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_AUTHOR_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_COMMITTER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_COMMITTER_EMAIL }}
        run: mise run release
